.container{
    display: flex;
    flex-direction: column;
    /* background: white; */
    width: 400px;
    padding: 20px;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
    background-color: aqua;
}
   .i1{
    margin-left: 130px;
   }
   .b1{
    margin-top: 10px;
    margin-left: 140px;
    color: white;
    background-color: black;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
   }